@import "tailwindcss";

@theme inline {
  --color-background: var(--color-stone-50);
  --color-foreground: var(--color-stone-950);
  --font-sans: var(--font-spectral-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-spectral-sans), serif;
}
